body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.joke {
    /* min-height: 200px; */
    font-size: 30px;
}

h1 {
    color: white;
}

.jokecontainer {
    display: flex;
    flex-direction: column;
    /* border: 1px black curvy; */
    /* background-color: pink; */
    padding: 5px;
    text-align: center;
    font-weight: 600;
}

.nextJoke {
    background-color: blue;
    padding: 10px 5px;
    cursor: pointer;
    color: whitesmoke;
    font-size: 20px;
    word-spacing: 10px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 600;
}

.question {
    margin-bottom: 150px;
}

.answer {
    color: white;
    padding: 0 50px;
}


@media screen and (max-width:500px) {
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(131, 126, 127);
    }

    h1 {
        color: blue;
    }

    .jokecontainer {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .nextJoke {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}